<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Index</title>
</head>
<body>

<form th:method="POST" th:action="@{/books/search}">
  <label for="query">Enter a search term: </label>
  <input type="text" id="query" name="query"/>
  <br/>
  <input type="submit" value="Find!"/>
</form>

<div th:if="${books}">
  <div th:if="${books.isEmpty()}">
    <span>Books are not found</span>
  </div>

  <div th:each="book : ${books}">
    <p th:text="${book.getName() + ', ' + book.getAuthor() + ', ' + book.getYear()}">book</p>

    <div th:if="${book.getOwner() != null}">
      <span>Book is now by: </span> <span th:text="${book.getOwner().getName()}">Person Name</span>
    </div>

    <div th:if="${book.getOwner() == null}">
      <span>Book is free</span>
    </div>

    <hr/>
  </div>
</div>

</body>
</html>